@import 'config';
@import 'library/media_query';
@import 'library/animation';
@import 'library/util';
@import 'menu';
@import 'about';
@import 'work';
@import 'contact';
* {
    // Dont add padding/marging to the size of the element
    box-sizing: border-box;
}

body {
    @include background($html-id: '#bg-img', $image:$home-image, $show-image:$show-home-image);
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

//Heading 
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400; //
    // An h1 or h2,3 with a class of lg-heading
    &.lg-heading {
        // One rem unit is 16 px by default unless you change the html parent font-size properties
        font-size: 6rem;
    }
    &.sm-heading {
        // an h1,2,3 with a class of sm-heading
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba($color: lighten($primary-color, 2), $alpha: 0.1) // para que no bloquea la imagen y se throug ella. se ve como una pequeña sombra
    }
}

a {
    color: white;
    text-decoration: none;
}

// El header va a contener el menu button y las dos paredes cuando se presiona el button (portratit y el menu nav bar)
header {
    position: fixed; // I want the position to stays always ath the same place
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    height: 100%;
    .icons {
        // icons nested inside the main elements
        margin-top: 1rem;
        a {
            // a tag nested inside icon class
            padding: 0.4rem;
            color: set-text-color($primary-color);
            &:hover {
                // is the same as doing a:hover 
                color: $secondary-color;
                @include easeOut;
            }
        }
    }
    &#home {
        overflow: hidden; // dont show the scrollbar 
        h1 {
            margin-top: 20vh;
        }
    }
}

// We want the media query to run at the very last
@import 'mobile';